// Footer

#footer {
  background-color: $black;
  font-size: .8rem;
  
  i {
    margin-right: .5rem;
    
    &::before {
      vertical-align: center;
    }
  }
  
  span {
    line-height: .8rem;
  }
}