

@import 'variables';
@import 'base';
@import 'mixins';

// Preloader
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  
  i {
    font-size: 2rem;
    animation-direction: reverse;
  }
}

// Header
@import 'header';

// Footer
@import 'footer';

#circleBg {
  position: fixed;
  top: -50px;
  right: -200px;
  background-color: $primary;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 0;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: .2s;
}

#circleBg2 {
  position: fixed;
  top: -50px;
  right: -200px;
  background-color: $color-4;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 0;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: .22s;
}

@media only screen and (min-width: $breakpoint-md) {
  #circleBg {
    width: 750px;
    height: 750px;
  }
  
  #circleBg2 {
    width: 400px;
    height: 400px;
  }
}

// Hero
.hero {
  background-color: lighten($primary, 50%);
  
  > .container > .row {
    min-height: 100vh;
  }
  
  @media only screen and (max-width: $breakpoint-md) {
    background: $color-1;
    
    &-btn {
      background: $white;
      color: $primary;
    }
    
    >.container>.row {
      position: relative;
      
      
      > div:nth-of-type(1) {
        opacity: .15;
      }
      
      > div:nth-of-type(2) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        align-content: center;
        align-self: center;
      }
    }
  }
  
  /* @media only screen and (max-width: $breakpoint-md) {
  > .container > .row {
  position: relative;
  
  > div:nth-of-type(1) {
  opacity: .8;
  }
  
  > div:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  align-content: center;
  align-self: center;
  }
  }
  } */
  
  &-info {
    
    
    
    @media only screen and (max-width: $breakpoint-md) {
      h1, p {
        text-align: center;
        color: $white;
      }
    }
  }
  
  &-graphics {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &-ui {
    background-color: $white;
    width: 200px;
    aspect-ratio: 9 / 19;
    border: 5px solid $black;
    border-radius: 10px;
    transform: rotate(30deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    @keyframes garbageAnime {
      0% {
        transform: translateY(-200px);
        color: red;
      }
      
      95% {
        opacity: 1;
      }
      
      100% {
        transform: translateY(0px);
        opacity: 0;
        color: $primary;
      }
    }
    
    &-garbage {
      transform: rotate(-30deg);
      animation-name: garbageAnime;
      animation-duration: 2s;
      animation-delay: 0;
      animation-timing-function: ease-in;
      opacity: 0;
      position: absolute;
      font-size: 1.5rem;
    }
    
    &-icon {
      position: absolute;
      font-size: 2rem;
      animation-duration: 1.5s;
      animation-delay: 2s;
      animation-timing-function: ease-in-out;
    }
    
    &-notch {
      background-color: $black;
      width: 50%;
      height: 15px;
      border-radius: 5px;
      position: absolute;
      top: -5px;
    }
    
    @media only screen and (max-width: $breakpoint-md) {
      width: 130px;
      transform: rotate(0deg);
      
      i {
        
      }
    }
  }
  
}


/* About */
.about {
  
  &-graphics {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  &-img {
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    width: 50%;
    border-radius: 50%;
    box-shadow: 5px 5px 0px lighten($primary, 30%);
    border: 1px solid $primary;
    
    @media only screen and (max-width: $breakpoint-md) {
      width: 65%;
      margin: 1.5rem 0;
    }
  }
  
  
  &-info {
    
    @media only screen and (max-width: $breakpoint-md) {
      text-align: center;
      
      hr {
        margin: 1.5rem auto;
      }
    }
  }
}

/* Features */
.features {
  padding: 5rem 0;
  
  &-container {
    border: 1px solid lighten($color-4, 30%);
    border-radius: .5rem;
    padding: 1.5rem 1rem;
    text-align: center;
    margin: 1rem;
    
    i {
      color: $primary;
      font-size: 2rem;
    }
    
    h4 {
      color: $color-4;
    }
    
    p {
      font-size: .9rem;
      font-weight: 400;
    }
    
    &:hover, &.active {
      padding: 2.5rem 1rem;
      background: $primary;
      color: $white;
      cursor: pointer;
      transition: all .5s ease-in-out;
      
      i, h4, p {
        color: $white ;
      }
    }
  }
}

/* Contact */
.contact {
  background: radial-gradient(circle at center, rgb(100, 169, 4) 0, $color-4 100%);
  position: relative;
  overflow-y: hidden;
  
  #circleBg3 {
    position: absolute;
    bottom: -50px;
    left: -100px;
    background-color: $color-4;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 0;
  }
  
  #circleBg4 {
    position: absolute;
    bottom: -50px;
    left: -100px;
    background-color: $color-5;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 0;
  }
  
  &-info {
    padding: 2.5rem;
    background-color: $white;
    border-radius: .5rem;
    
    .nav-item a {
      display: flex;
      align-items: center;
      font-weight: 500;
      
      i {
        &::before {
          vertical-align: middle;
        }
      }
    }
  }
  
  &-form {
    padding: 2.5rem;
    
    button {
      background: $white;
      color: $primary;
    }
  }
  
  @media only screen and (max-width: $breakpoint-md) {
    
    &-info {
      padding: 1.5rem 1rem;
      
      .nav-item a {
        font-size: .9rem;
      }
    }
    
    &-form {
      padding: 0;
    }
  }
}

